<div class="trade-info mat-elevation-z8">
  <h4>Results</h4>

  <table>
    <tr>
      <th>Volumes</th>
      <th>AVG Prices</th>
      <th></th>
    </tr>
    <tr>
      <td class="">T
        Trade Sum:
        <span>{{ data.totalVolume.entries.orders.quoted | currency : 'USD' : 'symbol' : '0.0-2' }}</span>
        <span> {{ data.totalVolume.entries.orders.base | number: '0.0-2' }}</span>
      </td>
      <td class="">
        Entry: <span>{{ data.avgPrices.entry | currency : 'USD' : 'symbol' : '0.0-2' }}</span>
      </td>
      <td class="">Actual Leverage: <span>{{ data.leverage.actual }}</span></td>
    </tr>
    <tr>
      <td class="">
        Max Loss: <span>{{ data.totalVolume.stops.orders.quoted | currency : 'USD' : 'symbol' : '0.0-2' }}</span>
      </td>
      <td class="">Stop: <span>{{ data.avgPrices.stop | currency : 'USD' : 'symbol' : '0.0-2' }}</span></td>
      <td class="">
        Risk Rate: {{ data.risk * 100 }} :
      </td>
    </tr>
    <tr>
      <td class="">
        Max Profit: <span>{{ data.totalVolume.takes.orders.quoted | currency : 'USD' : 'symbol' : '0.0-2' }}</span>
      </td>
      <td class="">Take: <span>{{ data.avgPrices.take | currency : 'USD' : 'symbol' : '0.0-2' }}</span></td>
      <td class="">Breakeven Price: <span>{{ data.breakeven.price | currency : 'USD' : 'symbol' : '0.0-2' }}</span></td>
    </tr>
  </table>
</div>

<!--<table mat-table [dataSource]="[data]" class="mat-elevation-z8">-->

<!--  <ng-container matColumnDef="tradeSum">-->
<!--    <th mat-header-cell *matHeaderCellDef> Trade Sum </th>-->
<!--    <td mat-cell *matCellDef="let element">-->
<!--      <div class="cell-wrap">-->
<!--        <span>Vq </span>-->
<!--        <span>{{element.tradeSum.baseSum | currency : 'USD' : 'symbol' : '0.0-2'}}</span>-->
<!--      </div>-->
<!--      <div class="cell-wrap">-->
<!--        <span>Vb </span>-->
<!--        <span>{{element.tradeSum.quotedSum}}</span>-->
<!--      </div>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="leverage">-->
<!--    <th mat-header-cell *matHeaderCellDef> Leverage </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.leverage}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="breakeven">-->
<!--    <th mat-header-cell *matHeaderCellDef> Breakeven </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.breakeven | currency : 'USD' : 'symbol' : '0.0-2'}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="riskRate">-->
<!--    <th mat-header-cell *matHeaderCellDef> Risk Rate </th>-->
<!--    <td mat-cell *matCellDef="let element">-->
<!--      <span>{{element.riskRate.risk}} : {{element.riskRate.profit}}</span>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="tradeType">-->
<!--    <th mat-header-cell *matHeaderCellDef> Trade Type </th>-->
<!--    <td mat-cell *matCellDef="let element" [ngClass]="tradeDirectionCssClass"> {{element.tradeType}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="entryPrice">-->
<!--    <th mat-header-cell *matHeaderCellDef> AVG Entry Price </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.entryPrice | currency : 'USD' : 'symbol' : '0.0-2'}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="stopPrice">-->
<!--    <th mat-header-cell *matHeaderCellDef> AVG Stop Price </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.stopPrice | currency : 'USD' : 'symbol' : '0.0-2'}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="takePrice">-->
<!--    <th mat-header-cell *matHeaderCellDef> AVG Take Price </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.takePrice | currency : 'USD' : 'symbol' : '0.0-2'}} </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->
