//@import '../../../../assets/styles/variables';
@import '~@angular/material/theming';

$color-pink: mat-palette($mat-pink);

.active-item {
  position: relative;

  &__menu {
    display: none;

    align-items: center;
    position: absolute;
    top: -36px;
    left: 16px;
    width: 51px;
    z-index: 1;
    padding: 0 5px;
    background-color: rgba(255,255,255, 0.85);
  }

  &__item-wrapper {
    margin: 4px;
  }

  &__icon {
    color: mat-color($color-pink);
  }

  &__item:hover & {
    &__icon {
      color: darken( mat-color($color-pink), 10% );
    }
  }

  &:hover & {
    &__icon {
      cursor: pointer;
    }
  }

  &:hover & {
    &__menu {
      display: flex;
    }
  }
}
