//@import '../../../../assets/styles/variables';
@import '~@angular/material/theming';

$color-pink: mat-palette($mat-pink);

.active-item {
  position: relative;

  &__menu {
    display: none;

    align-items: center;
    position: absolute;
    top: -32px;
    left: 16px;
    width: 45px;
    z-index: 1;
    padding: 0 5px;
    background-color: rgba(255,255,255, 0.85);
  }

  &__icon {
    color: mat-color($color-pink);
  }

  &:hover & {
    &__icon {
      cursor: pointer;
    }
  }

  &:hover & {
    &__menu {
      display: flex;
    }
  }
}
