<form [formGroup]="form" (change)="onChange()">
  <div class="trade-form mat-elevation-z8">
    <app-common-panel [group]="form.get('commonPanel')"
                      (dataChange)="onChange()"
    ></app-common-panel>
  </div>

  <div class="trade-form mat-elevation-z8">
    <h4>Entries</h4>

    <app-entry-price formName="entries"
                     [group]="form.get('entries')"
                     [calculationData]="[{Vq:1, Vb:2}, {Vq:1, Vb:2}]"
                     (addOrderItemAbove)="addOrderItemAbove('entries', $event)"
                     (addOrderItemBelow)="addOrderItemBelow('entries', $event)"
                     (removeOrderItem)="removeOrderItem('entries', $event)"
                     (setOrderItemPercentage)="onSetOrderItemPercentage($event)"
                     (equalizePercentage)="equalizePercentage('entries')"
                     (dataChange)="onChange()"
    ></app-entry-price>
  </div>

  <div class="trade-form mat-elevation-z8">
    <h4>Stop Losses</h4>

    <app-stop-loss formName="stopLosses"
                     [group]="form.get('stopLosses')"
                     [calculationData]="[{Vq:1, Vb:2}, {Vq:1, Vb:2}]"
                     (addOrderItemAbove)="addOrderItemAbove('stopLosses', $event)"
                     (addOrderItemBelow)="addOrderItemBelow('stopLosses', $event)"
                     (removeOrderItem)="removeOrderItem('stopLosses', $event)"
                     (setOrderItemPercentage)="onSetOrderItemPercentage($event)"
                     (equalizePercentage)="equalizePercentage('stopLosses')"
                     (dataChange)="onChange()"
    ></app-stop-loss>
  </div>

  <div class="trade-form mat-elevation-z8">
    <h4>Take Profits</h4>

    <app-take-profit formName="takeProfits"
                     [group]="form.get('takeProfits')"
                     [calculationData]="[{Vq:1, Vb:2}, {Vq:1, Vb:2}]"
                     (addOrderItemAbove)="addOrderItemAbove('takeProfits', $event)"
                     (addOrderItemBelow)="addOrderItemBelow('takeProfits', $event)"
                     (removeOrderItem)="removeOrderItem('takeProfits', $event)"
                     (setOrderItemPercentage)="onSetOrderItemPercentage($event)"
                     (equalizePercentage)="equalizePercentage('takeProfits')"
                     (dataChange)="onChange()"
    ></app-take-profit>
  </div>
</form>
