//@import '../../../../assets/styles/variables';
@import '../../../../../node_modules/@angular/material/theming';

$color-pink: mat-palette($mat-pink);
$color-gray: mat-palette($mat-grey);

.active-item {
  position: relative;

  &__menu {
    display: none;

    align-items: center;
    position: absolute;
    top: -36px;
    left: 16px;
    width: 77px;
    z-index: 1;
    padding: 0 5px;
    background-color: rgba(255,255,255, 0.85);
  }

  &__item-wrapper {
    margin: 4px;
  }

  &__icon {
    color: mat-color($color-pink);
  }

  &__item:hover & {
    &__icon {
      color: darken( mat-color($color-pink), 10% );
    }
  }

  &:hover & {
    &__icon {
      cursor: pointer;
    }
  }

  &:hover & {
    &__menu {
      display: flex;
    }
  }
}

.active-item__item:disabled {
  .active-item__icon {
    color: mat-color($color-gray);

    &:hover {
      cursor: default;
      color: mat-color($color-gray);
    }
  }
}

.move-button {
  &__wrap {
    margin: 2px;
  }
}

.my-mini-fab {
  width: 20px;
  height: 20px;
  line-height: 16px;
  font-size: 16px;

  &::ng-deep .mat-button-wrapper{
    line-height: 16px;
    padding: 0;

    .mat-icon {
      font-size: 16px;
    }
  }
}
