<div class="orders-panel" [formGroup]="form">
  <div class="mat-form-field-wrapper">
    <button mat-stroked-button fxFlexOffset="14.5" (click)="equalize()">Equalize</button>
  </div>

  <div class="orders-info mat-form-field-wrapper"
       *ngFor="let orderForm of form.controls; let i = index;"
  >
    <app-order-inputs [form]="orderForm"
                      (addOrderItemAbove)="onAddItemAbove(i)"
                      (addOrderItemBelow)="onAddItemBelow(i)"
                      (removeOrderItem)="onRemoveItem(i)"
                      (setOrderItemPercentage)="onSetOrderItemPercentage($event, orderForm)"
    ></app-order-inputs>

    <app-order-outputs class="orders-panel__outputs"
                       *ngIf="tradeOrderBase"
                       [data]="tradeOrderBase[i]"
    ></app-order-outputs>
  </div>
</div>
