<div class="orders-panel" [formGroup]="form">
  <div class="mat-form-field-wrapper">
    <button mat-stroked-button fxFlexOffset="14.5" (click)="equalize()">Equalize</button>
  </div>

  <div class="orders-info mat-form-field-wrapper"
       *ngFor="let orderForm of form.controls; let i = index;"
  >
    <app-order-inputs [form]="orderForm"
                      [isActiveMoveAbove]="i === 0"
                      [isActiveMoveBelow]="i + 1 === form.controls.length"
                      (addOrder)="onAddOrder(i, $event)"
                      (removeOrder)="onRemoveOrder(i)"
                      (moveOrder)="onMoveOrder(i, $event)"
                      (setOrderPercentage)="onSetOrderPercentage($event, orderForm)"
    ></app-order-inputs>

    <app-order-outputs class="orders-panel__outputs"
                       *ngIf="getTradeOrder(i) as order"
                       [data]="order"
    ></app-order-outputs>
  </div>
</div>
