<form [formGroup]="form">
  <div class="trade-form mat-elevation-z8">
    <h4>Common</h4>

    <app-common-inputs-panel [form]="commonSubForm"
    ></app-common-inputs-panel>
  </div>

  <div class="trade-form mat-elevation-z8">
    <h4>Entries</h4>

    <app-orders-panel [form]="entriesSubForm"
                      [tradeOrderBase]="tradeInfo?.entries"
                      (addOrderItemAbove)="addOrderItemAbove(entriesSubForm, $event)"
                      (addOrderItemBelow)="addOrderItemBelow(entriesSubForm, $event)"
                      (removeOrderItem)="removeOrderItem(entriesSubForm, $event)"
                      (setOrderItemPercentage)="onSetOrderItemPercentage($event)"
                      (equalizePercentage)="equalizePercentage(entriesSubForm)"
    ></app-orders-panel>
  </div>

  <div class="trade-form mat-elevation-z8">
    <h4>Stop Losses</h4>

    <app-orders-panel [form]="stopsSubForm"
                      [tradeOrderBase]="tradeInfo?.stops"
                      (addOrderItemAbove)="addOrderItemAbove(stopsSubForm, $event)"
                      (addOrderItemBelow)="addOrderItemBelow(stopsSubForm, $event)"
                      (removeOrderItem)="removeOrderItem(stopsSubForm, $event)"
                      (setOrderItemPercentage)="onSetOrderItemPercentage($event)"
                      (equalizePercentage)="equalizePercentage(stopsSubForm)"
    ></app-orders-panel>
  </div>

  <div class="trade-form mat-elevation-z8">
    <h4>Take Profits</h4>

    <app-orders-panel [form]="takesSubForm"
                      [tradeOrderBase]="tradeInfo?.takes"
                      (addOrderItemAbove)="addOrderItemAbove(takesSubForm, $event)"
                      (addOrderItemBelow)="addOrderItemBelow(takesSubForm, $event)"
                      (removeOrderItem)="removeOrderItem(takesSubForm, $event)"
                      (setOrderItemPercentage)="onSetOrderItemPercentage($event)"
                      (equalizePercentage)="equalizePercentage(takesSubForm)"
    ></app-orders-panel>
  </div>

  <app-trade-info *ngIf="tradeInfo" [data]="tradeInfo"></app-trade-info>
</form>
