<div class="trade-info mat-elevation-z8">
  <h4>Results</h4>

  <table>
    <tr>
      <th colspan="4">Volumes:</th>
      <th colspan="2">AVG Price:</th>
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>
    <tr>
      <td>Trade Sum:</td>
      <td>{{ data.totalVolume.entries.orders.quoted | currency : 'USD' : 'symbol' : '0.0-2' }}</td>
      <td>{{ data.totalVolume.entries.orders.base | number: '0.0-2' }}</td>
      <td>{{ data.totalVolume.entries.fees.quoted | percent: '0.0-2' }}</td>
      <td>Entry:</td>
      <td>{{ data.avgPrices.entry | currency : 'USD' : 'symbol' : '0.0-2' }}</td>
      <td>Actual Leverage:</td>
      <td>{{ data.leverage.actual }}</td>
      <td>Margin Cell Price:</td>
      <td>{{ data.leverage?.marginCallPrice | currency : 'USD' : 'symbol' : '0.0-2' || 'Margin Call is missing' }}</td>
    </tr>
    <tr>
      <td>Max Loss:</td>
      <td>{{ data.totalVolume.stops.orders.quoted | currency : 'USD' : 'symbol' : '0.0-2' }}</td>
      <td>{{ data.totalVolume.stops.fees.quoted | percent: '0.0-2' }}</td>
      <td></td>
      <td>Stop:</td>
      <td>{{ data.avgPrices.stop | currency : 'USD' : 'symbol' : '0.0-2' }}</td>
      <td>Risk Ratio:</td>
      <td>{{ data.risk * 100 }} : {{ data.totalVolume.riskRatio | number: '0.0-2' }} </td>
      <td>Breakeven Price: </td>
      <td>{{ data.breakeven.price | currency : 'USD' : 'symbol' : '0.0-2' }}</td>
    </tr>
    <tr>
      <td>Max Profit:</td>
      <td>{{ data.totalVolume.takes.orders.quoted | currency : 'USD' : 'symbol' : '0.0-2' }}</td>
      <td>{{ data.totalVolume.takes.fees.quoted | percent: '0.0-2' }}</td>
      <td></td>
      <td>Take:</td>
      <td>{{ data.avgPrices.take | currency : 'USD' : 'symbol' : '0.0-2' }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
