<div class="trade-info mat-elevation-z8">
  <h4>Results</h4>

  <table>
    <tr>
      <th>Volumes</th>
      <th>AVG Prices</th>
      <th></th>
    </tr>
    <tr>
      <td class="">T
        Trade Sum:
        <span>{{ data.totalVolume.entries.orders.quoted | currency : 'USD' : 'symbol' : '0.0-2' }}</span>
        <span> {{ data.totalVolume.entries.orders.base | number: '0.0-2' }}</span>
      </td>
      <td class="">
        Entry: <span>{{ data.avgPrices.entry | currency : 'USD' : 'symbol' : '0.0-2' }}</span>
      </td>
      <td class="">Actual Leverage: <span>{{ data.leverage.actual }}</span></td>
    </tr>
    <tr>
      <td class="">
        Max Loss: <span>{{ data.totalVolume.stops.orders.quoted | currency : 'USD' : 'symbol' : '0.0-2' }}</span>
      </td>
      <td class="">Stop: <span>{{ data.avgPrices.stop | currency : 'USD' : 'symbol' : '0.0-2' }}</span></td>
      <td class="">
        Risk Rate: {{ data.risk * 100 }} :
      </td>
    </tr>
    <tr>
      <td class="">
        Max Profit: <span>{{ data.totalVolume.takes.orders.quoted | currency : 'USD' : 'symbol' : '0.0-2' }}</span>
      </td>
      <td class="">Take: <span>{{ data.avgPrices.take | currency : 'USD' : 'symbol' : '0.0-2' }}</span></td>
      <td class="">Breakeven Price: <span>{{ data.breakeven.price | currency : 'USD' : 'symbol' : '0.0-2' }}</span></td>
    </tr>
  </table>
</div>
