<form [formGroup]="form" (change)="onChange()">

    <div fxLayout="row" fxLayoutGap="15px">
        <mat-form-field fxFlex="33.33" class="start-price">
            <span matPrefix>$&nbsp;</span>
            <input type="number" matInput formControlName="startPrice" placeholder="Order Start Price">
        </mat-form-field>

        <mat-form-field fxFlex="calc(33.33% - 15px)">
            <span matPrefix>$&nbsp;</span>
            <input type="number" matInput formControlName="stopPrice" placeholder="Stop Loss Price">
        </mat-form-field>

        <mat-form-field fxFlex="calc(33.33% - 15px)" class="take-price">
            <span matPrefix>$&nbsp;</span>
            <input type="number" matInput formControlName="takePrice" placeholder="Take Profit Price">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="15px">
        <div fxFlex="33.33" class="mat-form-field-wrapper">
            <mat-button-toggle-group formControlName="orderStartTypeOfFee" (change)="onChange()">
                <mat-button-toggle value="marketMakerFee">Maker</mat-button-toggle>
                <mat-button-toggle value="marketTakerFee">Taker</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div fxFlex="33.33" class="mat-form-field-wrapper">
            <mat-button-toggle-group formControlName="stopLossTypeOfFee" (change)="onChange()">
                <mat-button-toggle value="marketMakerFee">Maker</mat-button-toggle>
                <mat-button-toggle value="marketTakerFee">Taker</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div fxFlex="33.33" class="mat-form-field-wrapper">
            <mat-button-toggle-group formControlName="takeProfitPriceTypeOfFee" (change)="onChange()">
                <mat-button-toggle value="marketMakerFee">Maker</mat-button-toggle>
                <mat-button-toggle value="marketTakerFee">Taker</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="15px">
        <mat-form-field fxFlex="50">
            <span matPrefix>$&nbsp;</span>
            <input type="number" step="100" matInput formControlName="deposit" placeholder="Deposit">
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <input type="number" matInput formControlName="risk" placeholder="Risk">
            <span matSuffix>&nbsp;%</span>
        </mat-form-field>

        <div class="leverage-wrapper" fxFlex="25">
            <mat-checkbox formControlName="leverageAvailable" (change)="onChange()">Leverage</mat-checkbox>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="15px">
        <mat-form-field fxFlex="50">
            <input type="number" step="0.1" matInput formControlName="buyFee" placeholder="Buy Fee">
            <span matSuffix>&nbsp;%</span>
        </mat-form-field>

        <mat-form-field fxFlex="50">
            <input type="number" step="0.1" matInput formControlName="sellFee"
                   placeholder="Sell Fee">
            <span matSuffix>&nbsp;%</span>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="15px">
        <mat-form-field fxFlex="50">
            <input type="number" step="0.1" matInput formControlName="marketMakerFee" placeholder="Market Maker Fee">
            <span matSuffix>&nbsp;%</span>
        </mat-form-field>

        <mat-form-field fxFlex="50">
            <input type="number" step="0.1" matInput formControlName="marketTakerFee" placeholder="Market Taker Fee">
            <span matSuffix>&nbsp;%</span>
        </mat-form-field>
    </div>
</form>
