<div class="common-panel" [formGroup]="group">
  <div class="mat-form-field-wrapper">
    <button mat-stroked-button fxFlexOffset="14.5" (click)="equalize()">Equalize</button>
  </div>

  <div *ngFor="let item of group.controls; let i = index;">
    <app-order [group]="group"
               [formName]="formName"
               [formGroupIndex]="i"
               (addOrderItemAbove)="onAddItemAbove($event)"
               (addOrderItemBelow)="onAddItemBelow($event)"
               (removeOrderItem)="onRemoveItem($event)"
               (setOrderItemPercentage)="onSetOrderItemPercentage($event, item)"
    >
      <div>
        <div>V quoted: {{ calculationData[i].Vq }}</div>
        <div>V base: {{ calculationData[i].Vb }}</div>
      </div>
    </app-order>
  </div>
</div>
